version: "2.1"

services:
  php:
    build: ./docker/php80-alpine
    image: example_tasks_php
    cap_drop: [all]
    cap_add: [chown, setgid, setuid, kill]
    volumes:
      - ./tasks/src:/var/www/tasks/src
      - logs:/var/log/shared
    networks:
      - backend
    restart: unless-stopped
    stop_grace_period: 30s
    stop_signal: SIGQUIT
  logger:
    build: ./docker/php-log-tail
    volumes:
      - logs:/var/log/shared
  nginx:
    image: nginx:stable-alpine
    cap_drop: [all]
    cap_add: [chown, setuid, setgid, dac_override, net_bind_service]
    ports:
      - "127.0.0.1:8080:8080"
    volumes:
      - coverage-data:/var/www/coverage
      - ./docs/swaggerui:/var/www/docs
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - backend
    restart: unless-stopped
  mysql:
    build: ./docker/php80-alpine
    image: example_tasks_mysql
    cap_drop: [all]
    cap_add: [chown, setuid, setgid, dac_override]
    volumes:
      - mysql-data:/var/lib/mysql
      - ./docker/mysql/mysql.conf:/etc/mysql/conf.d/mysql.cnf
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: tasks
    networks:
      - backend
    restart: unless-stopped
  mailhog:
    build: docker/mailhog
    cap_drop: [all]
    ports:
      - "127.0.0.1:8025:8025"
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  logs:
  mysql-data:
  coverage-data: